* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    background-color: rgb(241, 28, 28);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#state {
    color:aliceblue;
}
input {
    border: none;
    background-color:aliceblue;
    box-shadow: 1px 1px 3px aliceblue;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}
#player1 {
    color:rgb(80, 0, 0);
}
#player2 {
    color:rgb(155, 12, 31);
}
table{
    border-collapse: collapse;
    border-spacing:0;
}
td {
    width: 10px;
    height: 10px;
    background-color: rgb(80, 0, 0);
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    color: aliceblue;
    user-select: none;
}
button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: gray;
    box-shadow: 1px 1px 3px aliceblue;
    cursor: pointer;
    text-align: center;
    color:aliceblue;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(80, 0, 0);
}